beautifulsoup4                4.12.2
boto3                         1.26.144
docker                        6.1.3
docker-compose                1.29.2
flake8                        6.0.0
gensim                        4.1.2
ipykernel                     6.23.0
ipython                       8.13.2
jupyter                       1.0.0
krippendorff                  0.6.0
langdetect                    1.0.7
matplotlib                    3.7.1
matplotlib-inline             0.1.6
networkx                      3.1
nl-core-news-sm               3.5.0
nlpaug                        1.1.11
nltk                          3.8.1
numpy                         1.22.3
numpydoc                      1.5.0
openpyxl                      3.1.2
packaging                     21.3
pandas                        2.0.1
pandocfilters                 1.5.0
pickleshare                   0.7.5
Pillow                        9.4.0
pip                           23.1.2
plotly                        5.14.1
pyirr                         0.84.1.2
pyspark                       3.3.0
pytest                        7.3.1
regex                         2023.5.5
requests                      2.29.0
sagemaker                     2.155.0
pyirr                         0.84.1.2
sagemaker-pyspark             1.4.5
schema                        0.7.5
scikit-image                  0.20.0
scikit-learn                  1.2.2
scipy                         1.10.1
seaborn                       0.12.2
snowballstemmer               2.2.0
spacy                         3.5.4
spacy-langdetect              0.1.2
spacy-legacy                  3.0.12
sparkmagic                    0.20.5
SQLAlchemy                    2.0.12
statsmodels                   0.14.0
tim                           0.5
torch                         2.0.1
transformers                  4.30.2
